# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DEMO_MODE=1
DEMO_USER_EMAIL=***@example.com #←***に任意のemaiに変えて
DEMO_USER_PASSWORD=purchart
LLM_MODE=on ←onにする

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=
#/engine-view でパラメータの動きを見せる。）
ENGINE_VIEW=on #←onにする
